:root {
    --body-bg: 255, 255, 255;
    --grad-alpha-bg: 0.6;
    --grad-alpha-border: 0.7;
}

body {
    background-color: rgb(var(--body-bg));
    font-family: Poppins, sans-serif;
    margin: auto 1em 10em;
}

#top-header {
    font-family: 'Aclonica';
    font-size: 3em;
    margin: 1em auto;
}

/* navigation bar */
#top-nav {
    background-color: rgb(var(--body-bg));
    position: sticky;
    top: 0;
    overflow: hidden;
    width: 100%;
}

#top-nav a {
    float: left;
    display: block;

    background: linear-gradient(rgb(var(--body-bg)), rgba(var(--body-bg), var(--grad-alpha-bg)));
    color: #414141;
    text-align: center;
    text-decoration: none;

    padding: 0.3em 1em;
    margin: auto 0.1em;

    border-bottom: solid rgba(80, 80, 80, var(--grad-alpha-border)) 2px;
    border-radius: 0 0 2px 2px;
    border-right: solid rgb(var(--body-bg)) 2px;

    transition: ease-in 0.2s;
}
  
#top-nav a:hover {
    background-color: #dddddd;
    color: black;
    border-right-color: rgba(80, 80, 80, var(--grad-alpha-border));
    transition: ease-out 0.2s;
}

#top-nav a.align-right {
    float: right;
    margin-right: 0;
}

#top-nav a.home {
    border-bottom-color: rgba(255, 0, 0, var(--grad-alpha-border));
    margin-left: 0;
}

#top-nav a.home:hover {
    background-color: rgb(255, 187, 187);
    border-right-color: rgba(255, 0, 0, var(--grad-alpha-border));
    transition: ease-out 0.2s;

}

/* heading */
h1 {
    font-family: 'Abril Fatface', serif;
    font-size: 3em;
    font-variant: small-caps;

    margin-top: 1em;
}

/* a */
a {
    cursor: pointer;
    text-decoration: none;
}

a.button {
    color: white;

    background-color: red;
    padding: 0 0.3125em;
    border: 0.125em outset red;
    border-radius: 0.25em;
}

a.button:hover {
    background-color: rgb(218, 0, 0);
    border: 0.125em outset rgb(218, 0, 0);
}

a.button:active {
    border-style: inset;
}

q.squared  {
    quotes: "<" ">";
    color: black;
}

q.squared:hover {
    quotes: ">" "<";
    color: red;
}

q.squared:active {
    quotes: "/" "";
}

a.squared {
    color: red;
}

a.squared:hover {
    color: black;
}

a.squared:active {
    font-weight: bold;
}

/* table */
table {
    font-weight: bold;
    list-style: none;
    border-collapse: collapse;
}

tr {
    background-color: rgb(226, 225, 225);
}

tr:nth-child(even) {
    background-color: lightgray;
}

tr:hover, tr:nth-child(even):hover{
    color: white;
    background-color: darkred;
}

th {
    color: white;
    background-color: grey;
    border-left: 0.3125em solid grey;
}

td {
    width: 7em;
    padding-left: 1em;
}

td:first-child {
    border-left: 0.3125em solid red;
}

td:hover {
    color: white;
    background-color: red;
}

/* form */
input {
    appearance: none;
    
    margin: 0 auto;
    padding: 0 auto;
  
    width: 0em;
    height: 2em;
    border-radius: 0 0.1875em 0.1875em 0;
  
    position: relative;
    top: 0.5em;

    transition: ease 0.2s;
}

input:checked {
    background-color: rgb(50, 170, 60);
    width: 0.5em;
}

input.html-radio:checked {
    background-color: blue;
}

input.css-radio:checked {
    background-color: dodgerblue;
}

input.js-radio:checked {
    background-color: gold;
}

input.php-radio:checked {
    background-color: mediumslateblue;
}
