body {
    font-family: Poppins, sans-serif;
    margin: auto 1em 10em;
}

a {
    cursor: pointer;
}

#top-header {
    font-family: 'Aclonica';
    font-size: 3em;
    margin: 1em auto;
}

#top-nav {
    position: sticky;
    top: 0;
    overflow: hidden;
    width: 100%;
    background-color: #333;
}

#top-nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 0.3em 1em;
    text-decoration: none;
}

#top-nav a.align-right {
    float: right;
}
  
#top-nav a:hover {
    background-color: #ddd;
    color: black;
}

#top-nav a.home {
    background-color: red;
}

#top-nav a.home:hover {
    background-color: rgb(255, 187, 187);
}

h1 {
    font-family: 'Abril Fatface', serif;
    font-variant: small-caps;
}

a.button {
    color: white;
    text-decoration: none;

    background-color: red;
    padding: 0 0.3125em;
    border: 0.125em outset red;
    border-radius: 0.25em;
}

a.button:hover {
    background-color: rgb(218, 0, 0);
    border: 0.125em outset rgb(218, 0, 0);
}

a.button:active {
    border-style: inset;
}

table {
    font-weight: bold;
    list-style: none;
    border-collapse: collapse;
}

tr {
    background-color: rgb(226, 225, 225);
}

tr:nth-child(even) {
    background-color: lightgray;
}

tr:hover, tr:nth-child(even):hover{
    color: white;
    background-color: darkred;
}

th {
    color: white;
    background-color: grey;
    border-left: 0.3125em solid grey;
}

td {
    width: 7em;
    padding-left: 1em;
}

td:first-child {
    border-left: 0.3125em solid red;
}

td:hover {
    color: white;
    background-color: red;
}

input {
    appearance: none;
    
    margin: 0 auto;
    padding: 0 auto;
  
    width: 0em;
    height: 2em;
    border-radius: 0 0.1875em 0.1875em 0;
  
    position: relative;
    top: 0.5em;

    transition: ease 0.2s;
}

input:checked {
    background-color: rgb(50, 170, 60);
    width: 0.5em;
}

input.html-radio:checked {
    background-color: blue;
}

input.css-radio:checked {
    background-color: dodgerblue;
}

input.js-radio:checked {
    background-color: gold;
}

input.php-radio:checked {
    background-color: mediumslateblue;
}

q.squared  {
    quotes: "<" ">";
    color: black;
}

q.squared:hover {
    quotes: ">" "<";
    color: red;
}

q.squared:active {
    quotes: "/" "";
}

a.squared {
    color: red;
    text-decoration: none;
}

a.squared:hover {
    color: black;
}

a.squared:active {
    font-weight: bold;
}